.listheaders {
    display: flex;
    justify-content: space-between;
    font-family: 'Shippori Antique B1', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.listheaders__icon {
    margin: 15px;
    border: 1px solid #999999;
    border-radius: 50%;
    padding: 5px;
}

.listheaders__arrow {
    margin-right: 15px;
    align-self: center;
    font-size: 18pt;
}

.newscards__list {
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr, 40%;
    grid-auto-rows: 90px;
    height: 90px;
    margin-bottom: 20px;
}

.deleteBtn {
    background-color: #d95454;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 150px;
}

.archiveBtn {
    background-color: #87bcbf;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 150px;
}

.newsarticle {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px;
    transform: translate(0,15);
    transition: height 1s ease-out;
    overflow: hidden;
}

.newsImage {
    width: 70px;
    border-radius: 50px;
    margin-right: 10px;
}

.newsText {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 10pt;
}

.newsTitel {
    font-weight: 800;
    font-size: 10pt;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}